# Importing

In [1]:
import pandas as pd
import numpy as np

In [2]:
# - input status 2020-08-21 
    # - - local input dataframe "sharks.csv" (file: ".../module-1_projects/02_pandas-project/your-code/sharks.csv")
        # - - - original df = alias "GSAF5.csv" (source: "https://www.kaggle.com/teajay/global-shark-attacks/version/1")            # - - - - 
   
 # importing raw data to df "sharks_raw_200821"
sharks_raw_200821 = pd.read_csv("sharks.csv")

 # verification
sharks_raw_200821.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993.0,NaN,NaN

    
        
# Input data - inspection, description & preparation

In [3]:
    # copy sharks_raw_200821 to working version = 
    # w(orking)df
wdf = sharks_raw_200821.copy()

    # Verification
wdf.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993.0,NaN,NaN

### Brief Overview: Input Data

In [4]:
# num of rows
len(wdf)

5992

In [5]:
# num of cols
len(wdf.columns)

24

In [6]:
# review col names
wdf.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [7]:
# review dtypes
wdf.dtypes
    # result shows:
        # - only cols 'year' and 'original order' numeric format
        # - cols 'time' and 'date' -> data not yet in datetime format
        # - col 'age' -> data not yet in int fomat
    # conclusion:
        # - cols 'time', 'date', 'age' : change dtypes ...
        #   ... provided following review of na-sums indicates they contain enough info to be processed

Case Number                object
Date                       object
Year                        int64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [8]:
#closer look including non-null
wdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5496 non-null   object
 7   Activity                5465 non-null   object
 8   Name                    5791 non-null   object
 9   Sex                     5423 non-null   object
 10  Age                     3314 non-null   object
 11  Injury                  5965 non-null   object
 12  Fatal (Y/N)             5972 non-null   object
 13  Time                    2777 non-null   object
 14  Species                 3061 non-null   object
 15  Investigator or Source  5977 non-null   object
 16  pdf                     5992 non-null   object
 17  href formula            5991 non-null   object
 18  href                    5989 non-null   object
 19  Case Number.1           5992 non-null   object
 20  Case Number.2           5992 non-null   object
 21  original order          5985 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(1), int64(1), object(22)
memory usage: 1.1+ MB

# Data Cleaning and Manipulation


#### Inspection, evaluation and handling of ambigous columns

content evaluation & interpretation, repetitive data compression, col aggragation, notes for further categorization & reformating

   Ambiguous column names:
       
      1.)  'Case Number.1'  
      2.)  'Case Number.2'
      3.)  'original order'
      4.)  'Unnamed22'
      5.)  'Unnamed23'
      6.)  'href formula'
      7.)  'pdf'
      8.)  'href'
     
#### Inspection, evaluation and handling of missing values

      9.)   inspection of na-vals sum of na-vals per category
     10.)   interpretation / evaluation of relevance of missing data
     11.)   nafill / nadrop decisions & processing

In [9]:
# what does col 'Case Number.1' contain?
wdf['Case Number.1'].value_counts()

     # deduction: no exploitable information for further analysis in this col
          # conclusion: drop col

1990.05.10      2
1983.06.15      2
2012.09.02.b    2
1920.00.00.b    2
1966.12.26      2
               ..
1867.00.00      1
1919.01.05      1
1887.03.12      1
1952.05.00      1
2008.10.12      1
Name: Case Number.1, Length: 5975, dtype: int64

In [10]:
# what does col 'Case Number.2' contain?
wdf['Case Number.2'].value_counts()

    # deduction: no exploitable information for further analysis in this col   
        # conclusion: drop col

1990.05.10      2
1983.06.15      2
2012.09.02.b    2
1920.00.00.b    2
1966.12.26      2
               ..
1952.05.00      1
1932.10.11      1
2012.03.20      1
2006.03.19      1
2008.10.12      1
Name: Case Number.2, Length: 5976, dtype: int64

In [11]:
# drop ['Case Number.1','Case Number.2'] & update wdf
wdf = wdf.drop(columns=['Case Number.1','Case Number.2'])

#verification
wdf.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5993.0,NaN,NaN

In [12]:
# what is in 'original order'?
    # col name could suggest former index numbers -> checking num of uniques:
wdf['original order'].value_counts()
        # -> if former index num -> not valid

5661.0    2
5739.0    2
3847.0    2
569.0     2
3297.0    1
         ..
2684.0    1
2456.0    1
2279.0    1
5449.0    1
5952.0    1
Name: original order, Length: 5981, dtype: int64

In [13]:
# deduction: 
    # infos in 'original order' are not conclusive
    # values seem to invalid if they come from former df index
   
        # conclusion: 
            # information value not sufficient for futher analysis
            # drop ['original order'] & update wdf
            
wdf = wdf.drop(columns=['original order'])

# verification
wdf.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN

In [14]:
# what is in col 'Unnamed: 22' ?
wdf['Unnamed: 22'].value_counts()
    
        # deduction: no exploitable information for further analysis in this col
            # conclusion: drop col 'Unnamed: 22'

stopped here    1
Name: Unnamed: 22, dtype: int64

In [15]:
# what is in col 'Unnamed: 23' ?
wdf['Unnamed: 23'].value_counts()
    
        # deduction: no exploitable information for further analysis in this col
            # conclusion: drop col 'Unnamed: 23'

Teramo             1
change filename    1
Name: Unnamed: 23, dtype: int64

In [16]:
# drop ['Unnamed: 22','Unnamed: 23'] & update wdf
wdf = wdf.drop(columns=['Unnamed: 22','Unnamed: 23'])

# verification
wdf.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [17]:
# what is in col 'href formula' ?
wdf['href formula'].value_counts()

# deductions:
    # -- col contains unknown urls   
    # -- some of those urls are in two rows 
        # further research: try one of the urls appearing in two rows:    
            # ...investigating "http://sharkattackfile.net/spreadsheets/pdf_directory/1916.12.08.a-b-German.pdf"
                # ...summary: pdf with case description for 
                        #                                 -  "Mr. and Mrs. Walter German" 
                        #                                 -  "CASE: GSAF 1916.12.08.a & b"
                        #                                 -  "DATE: Friday December 8, 1916"
        
# conclusions: 
    #           =>>    url twice in df because case-type = two-person-case
        #                =>       num of rows with the same val == num of involved persons
        #                =>       vals in "Case Number" == date + alphabetical index for person ( if > 1 person)
    
    #           =>>   url string contains pdf string
        #                =>       drop pdf string because pdf-content is not object of further analysis

#
#######################################################################################################################
# notes:
# .... concerned rows for multiple person cases can be reached via common case-num
#
#######################################################################################################################

http://sharkattackfile.net/spreadsheets/pdf_directory/1906.09.27.R.a&b-Munich-Swede.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1921.11.27.a-b-Jack.pdf              2
http://sharkattackfile.net/spreadsheets/pdf_directory/1935.06.05.R-SolomonIslands.pdf      2
http://sharkattackfile.net/spreadsheets/pdf_directory/1907.10.16.R-HongKong.pdf            2
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf             2
                                                                                          ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1947.06.27-Limatoc.pdf               1
http://sharkattackfile.net/spreadsheets/pdf_directory/1906.04.10.R.a-b-Baxter.pdf          1
http://sharkattackfile.net/spreadsheets/pdf_directory/1865.03.01.R-St-HelenaBay.pdf        1
http://sharkattackfile.net/spreadsheets/pdf_directory/2009.05.12-Guerrero.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directory/1995.08.07-MattSturgis.pdf           1
Name: href formula, Length: 5980, dtype: int64

In [18]:
# drop col pdf & update wdf
wdf = wdf.drop(columns='pdf')

In [19]:
# what is in col 'href'?
wdf['href'].value_counts()

    # deduction: contains the urls already found in 'href formula'    
            # conclusion: 
                    # href formula, Length: 5980
                    # href, Length: 5972
                             # => difference not statistically relevant for further analysis                    
            # => drop href  <<   because href > href formula                     
            # => keep href formular in the first instance 
                 #          <<   because it may contain relevant infos to fill possible na-vals in other cols

#
#######################################################################################################################
# notes:
# .... not all urls are valid - quick check showed: typos or other mistakes in some urls (reaching 404 pages)
#
#######################################################################################################################

http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf                   4
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf            3
http://sharkattackfile.net/spreadsheets/pdf_directory/1898.00.00.R-Syria.pdf                 2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.07.12.a-b-Stillwell-Fisher.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1923.00.00.a-NJ fisherman.pdf          2
                                                                                            ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1839.11.17-Johnson.pdf                 1
http://sharkattackfile.net/spreadsheets/pdf_directory/1749.00.00-Watson.pdf                  1
http://sharkattackfile.net/spreadsheets/pdf_directory/2010.10.25-Gedi-crewman.pdf            1
http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.13-Derritt.pdf                 1
http://sharkattackfile.net/spreadsheets/pdf_directory/1995.08.07-MattSturgis.pdf             1
Name: href, Length: 5972, dtype: int64

In [20]:
#drop href and verify update
wdf = wdf.drop(columns='href')
wdf.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,href formula
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...

# NA Values

In [21]:
# overview of na-vals, navals to store them
navals = wdf.isna().sum()
navals

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       201
Sex                        569
Age                       2678
Injury                      27
Fatal (Y/N)                 20
Time                      3215
Species                   2931
Investigator or Source      15
href formula                 1
dtype: int64

In [22]:
# ignore cols without na-vals
navals.loc[navals.gt(0)]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       201
Sex                        569
Age                       2678
Injury                      27
Fatal (Y/N)                 20
Time                      3215
Species                   2931
Investigator or Source      15
href formula                 1
dtype: int64

In [23]:
# find cols with na-vals > 50%  
navals[navals.gt(0)]/len(wdf) >= 0.45
    # check values for concerned col 'time' and col 'Species' to validate importance

Country                   False
Area                      False
Location                  False
Activity                  False
Name                      False
Sex                       False
Age                       False
Injury                    False
Fatal (Y/N)               False
Time                       True
Species                    True
Investigator or Source    False
href formula              False
dtype: bool

In [24]:
# review val_counts for col 'Time'
wdf['Time'].value_counts()
  
    # deductions: 
            # data is chaotic
            # dtype format != time
            # sometimes clustered into unspecified categories
            
                # conclusion:
                    # data is messy and has > 50% NAN: information value not sufficent for further analysis
                    # drop col 'Time'
#
#######################################################################################################################
# notes:
# .... in case 'Time' should be object for future analysis, it will need format and categorization editing
# .... suggestion for possible future survey re-design: checkboxes for categories (e.g. "morning","evening"...)
#
#######################################################################################################################

Afternoon                  174
11h00                      123
12h00                      107
Morning                    106
15h00                      100
                          ...
Before daybreak              1
Between 05h00 and 08h00      1
11h25                        1
16h25                        1
1500                         1
Name: Time, Length: 360, dtype: int64

In [25]:
# drop col pdf & update wdf
wdf = wdf.drop(columns='Time')

# verification
wdf.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,href formula
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...

In [26]:
# what is in col 'Species'?
wdf['Species '].value_counts()

    # deduction: categories not clearly defined
    
        # conclusion: 
                   # - keep col in the first instance, 
        #                  because shark species may become relevant as dependent variable for certain subsets later
                   # - rename col to flag requirement of further cleaning and categorization    
            
#######################################################################################################################
# notes:
# .... col "Species" needs further inspection + evaluation + categorization as case may be
#
#######################################################################################################################

White shark                                      161
Shark involvement not confirmed                   80
Tiger shark                                       68
Bull shark                                        52
6' shark                                          40
                                                ...
Raggedtooth shark, 2.7 m [9']                      1
1.8 m to 2.1 m [6' to 7'] hammerhead shark         1
6' shark, possibly a blactip or spinner shark      1
3 m hammerhead shark                               1
3.5 m [11'6"] shark captured                       1
Name: Species , Length: 1542, dtype: int64

In [27]:
# renaming & updating df
wdf = wdf.rename(columns={'Species ':'CLEAN_ME Species'})

# verify
wdf.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),CLEAN_ME Species,Investigator or Source,href formula
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...

# Format 

## dtypes

In [28]:
# get new dtype overview for condensed df
wdf.dtypes

#
#######################################################################################################################
#
# notes:
#
# ..... - col 'Age' not numeric
#                --> to do:  
#                       (!) dtype format to int
#                       (!) consider categorization (maby age groups per 5 or 10 years?)
#
#
# ..... - cols 'Date' and 'Year' not in datetime + potentially redundant 
#                --> to do:  
#                       (!) dtype format
#                       (!) merge to one col
#
# ..... - col 'type' needs further research of the meanings "Unprovoked" vs "Provoked" to evaluate data
#                --> to do: 
#                       (!) research meaning of 'un/provoked' in connection with shark attact
#                       (!) plan next steps concerning this col data
#
# ..... - cols 'Country', 'Area','Location' appear to be redundant
#                --> to do: 
#                       (!) evaluate redundance of data in these cols
#                       (!) check for possible merging and format changes
#                       (!) check for possible clustering to categories
#
# ..... - cols 'Injury' and 'Fatal' appear to be redundant
#                --> to do: 
#                       (!) evaluate redundance of data in these cols
#                       (!) check for possible merging and format changes
#                       (!) check for possible clustering to categories
#
# ..... - cols 'Species' & 'Activity' & 'Investigator or Source may need categorization & data beautification
#                --> to do: 
#                       (!) count vals in this col
#                       (!) consider categorization
#                       (!) consider valu beautification
#                     
# ..... - col 'Case Numer' is not numeric and needs validation of information value
#                --> to do: 
#                       (!) evaluate infomation value
#                       (!) consider dtype change to numeric
#                       (!) consider change to index
#
# ..... - df index and shape evaluation
#                --> to do: 
#                       (!) consider reindexing
#                       (!) group remaining data for independent val in col "Year" - "Location" 
#
# ..... - further analysis:
#                --> to do: 
#                       (!) New Col: Number of attacts per Year
#                       (!) New Col: Research num of citizens for Location/Year and 
#                                              generate num "Attacs per head / per 1000 citizens"
# 
#######################################################################################################################

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
CLEAN_ME Species          object
Investigator or Source    object
href formula              object
dtype: object

In [29]:
# col 'Age' - evaluation:
#
            # quote to-do-list:
            # ..... - col 'Age' not numeric
            #                --> to do:  
            #                       (!) dtype format to int
            #                       (!) consider categorization (maby age groups per 5 or 10 years?)

In [30]:
# safety first: temp = df copy
temp=wdf.copy()

In [31]:
# find all non numeric vals and count them
temp['Age'].where((temp['Age'].str.isnumeric())==False).value_counts()

Teen        8
30s         7
20s         6
teen        5
FATAL       3
           ..
9 months    1
60s         1
30 or 36    1
28 & 26     1
21 & ?      1
Name: Age, Length: 77, dtype: int64

In [32]:
# count of non-numerics shows top-5: 
# Teen                        8
# 30s                         7
# 20s                         6
# teen                        5
# FATAL                       3

# decision: 
# - replace 20s with 25, 30s with 35 ...
# - replace Teen/teen with 15

     
temp['Age'] = temp['Age'].str.replace('30s', '35').replace('20s','25').replace('40s', '45').replace('Teen','15').replace('60\'s','65').replace('>50','55').replace('teen','15').replace('50s','55').replace('60s','65').replace('mid-30', '35').replace('mid-20s','25')

In [33]:
# closer look at remaining messy vals 
temp['Age'].where((temp['Age'].str.isnumeric())==False).where((temp['Age'].str.contains(r'[0-9]')==True)).dropna().value_counts()

8 or 10                      2
7 or 8                       2
7      &    31               1
28 & 26                      1
17 & 35                      1
9 & 12                       1
?    &   14                  1
Ca. 33                       1
21, 34,24 & 35               1
mid-35                       1
33 or 37                     1
23 & 20                      1
9 or 10                      1
30 & 32                      1
31 or 33                     1
2?                           1
25 to 35                     1
30 or 36                     1
25 or 28                     1
33 & 37                      1
16 to 18                     1
6?                           1
28, 23 & 30                  1
23 & 26                      1
18 to 22                     1
50 & 30                      1
13 or 14                     1
21 or 26                     1
33 & 26                      1
36 & 26                      1
20?                          1
2 to 3 months                1
17 & 16                      1
10 or 12                     1
36 & 23                      1
34 & 19                      1
? & 19                       1
20 cm injury to left foot    1
9 months                     1
Both 11                      1
37, 67, 35, 27,  ? & 27      1
12 or 13                     1
32 & 30                      1
46 & 34                      1
18 or 20                     1
18 months                    1
13 or 18                     1
21 & ?                       1
Name: Age, dtype: int64

In [34]:
#######################################################################################################################
#
# notes:
#  
# -> ->> some rows seem to contain the ages of more than one person 
#                    - -  but count of these vals are not mirroring the number of ages implied
#   
# -> ->> remaining 66 rows would need deeper investigation to decide how to deal with them
#
# -> ->> some rows seem to be slipt along cols (e.g. rows with val 'FATAL')
#
#######################################################################################################################

In [35]:
# checking 'FATAL' (val seems to be in the wrong col)
temp['Age'].where((temp['Age']=='FATAL')==True).dropna()

226     FATAL
5501    FATAL
5804    FATAL
Name: Age, dtype: object

In [36]:
#checking val in neighbor col for these rows
temp['Injury'].where((temp['Age']=='FATAL')==True).dropna()
    # ->> shows 'Y' matches 'Y'/'N' categories of the following col 'Fatal (Y/N)'
    # ->> assuming all data of these rows need to be moved one cell to the

226     Y
5501    Y
5804    Y
Name: Injury, dtype: object

In [37]:
# look at concerned rows
temp.loc[((temp['Age']=='FATAL')==True)]
    # these rows seem to be even more chaotic (dates are strange too...)
    # drop these rows completely

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),CLEAN_ME Species,Investigator or Source,href formula
226,2015.02.14,14-Feb-15,2015,Unprovoked,REUNION,d??ang-Sal?Ravine Mula,Swimming,Talon Bishop,F,22,FATAL,Y,18h30,"L'Yonne R?ublicaine, 2/14/2015",2015.02.14-Bishop.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
5501,1887.01.20,20-Jan-1887,1887,Sea Disaster,BRAZIL,Alagoas,Macei?The passenger ship Kapuna was run down t...,Whittle,M,NaN,FATAL,Y,03h00,"Brisbane Courier, 4/14/1887",1887.01.20-Whittle.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
5804,1830.04.30,30-Apr-1830,1830,Unprovoked,INDIA,Tamil Nadu,St. Thom?Bathing,Ensign Bromwick,M,NaN,FATAL,Y,17h00-18h00,"Madras Gazette, 5/1/1830",1830.04.30-Bromwick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...

In [38]:
# drop them messy messy rows!
temp = temp.drop([226,5501,5804],axis=0)
# & update df

In [39]:
# review count of no-num-vals 
temp['Age'].where((temp['Age'].str.isnumeric())==False).dropna().value_counts()

8 or 10    2
F          2
           2
young      2
7 or 8     2
          ..
36 & 26    1
20?        1
17 & 16    1
(adult)    1
21 & ?     1
Name: Age, Length: 66, dtype: int64

In [40]:
#   -> -> these remaining rows would need deeper investigation to decide how to deal with them
#
# checking percentage for count of these rows of df:
#
65/len(temp)
             # out: 0.010....
    #
    # decision: 0.010% is not enough to go into deep investigation -> drop them messy rows now!

0.010853230923359493

In [41]:
# getting index....
temp['Age'].where((temp['Age'].str.isnumeric())==False).dropna().index

Int64Index([ 224,  384,  475, 1043, 1083, 1101, 1212, 1282, 1284, 1301, 1366,
            1519, 1520, 1600, 1601, 1657, 1677, 1701, 1725, 1731, 1802, 2197,
            2216, 2286, 2535, 2655, 2758, 2883, 2962, 3150, 3212, 3233, 3291,
            3320, 3420, 3516, 3576, 3654, 3707, 3760, 3772, 3783, 3809, 3813,
            3826, 3838, 3849, 3852, 3892, 3987, 4164, 4220, 4262, 4360, 4402,
            4449, 4573, 4590, 4656, 4769, 4853, 4939, 4950, 5080, 5202, 5247,
            5349, 5730, 5780, 5837, 5955],
           dtype='int64')

In [42]:
# ...and drop them messy rows and update df
temp = temp.drop([224,  384,  475, 1043, 1083, 1101, 1212, 1282, 1284, 1301, 1366,
            1519, 1520, 1600, 1601, 1657, 1677, 1701, 1725, 1731, 1802, 2197,
            2216, 2286, 2535, 2655, 2758, 2883, 2962, 3150, 3212, 3233, 3291,
            3320, 3420, 3516, 3576, 3654, 3707, 3760, 3772, 3783, 3809, 3813,
            3826, 3838, 3849, 3852, 3892, 3987, 4164, 4220, 4262, 4360, 4402,
            4449, 4573, 4590, 4656, 4769, 4853, 4939, 4950, 5080, 5202, 5247,
            5349, 5730, 5780, 5837, 5955],axis=0)

In [73]:
# rest dtype to numeric
temp['Age'] = pd.to_numeric(temp['Age'], downcast='signed')

In [74]:
#check df dtypes again
temp.dtypes

Case Number                object
Date                       object
Year                        int64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                       float64
Injury                     object
Fatal (Y/N)                object
CLEAN_ME Species           object
Investigator or Source     object
href formula               object
dtype: object

In [77]:
#set dtype to int
temp['Age'].dropna().astype(int)

0       16
1       36
2       43
6       65
7       51
        ..
5932     6
5933    16
5944    50
5966    16
5991    15
Name: Age, Length: 3240, dtype: int32

In [79]:
#review navals to confirm remaining nas 
navals

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       201
Sex                        569
Age                       2678
Injury                      27
Fatal (Y/N)                 20
Time                      3215
Species                   2931
Investigator or Source      15
href formula                 1
dtype: int64

In [80]:
# close working step for col Age by setting wdf to temp
wdf = temp

In [81]:
#and confirm it
wdf.describe()

              Year          Age
count  5918.000000  3240.000000
mean   1925.072829    27.148148
std     287.097291    13.747658
min       0.000000     1.000000
25%    1942.000000    17.000000
50%    1975.000000    24.000000
75%    2003.000000    35.000000
max    2016.000000    87.000000

In [82]:
#confirm by head
wdf.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),CLEAN_ME Species,Investigator or Source,href formula
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16.0,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36.0,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43.0,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_di...

In [83]:
# export status to csv
#
# status: 
#        work in progress / 23-08-20 
#
# csv reflecting status -here-
#        == "wdf230820"
#
# export:
wdf.to_csv('wdf230820.csv')