## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [4]:
# Your code here
tup_1 = tuple('I',)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [5]:
# Your code here
type(tup_1)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [6]:
tup_2 = ("r", "o", "n", "h", "a", "c", "k")

In [13]:
tup_2[0:]

('r', 'o', 'n', 'h', 'a', 'c', 'k')

In [24]:
tup_3 = (tup_2[0:],tup_1[0:])
print(tup_3)

(('r', 'o', 'n', 'h', 'a', 'c', 'k'), ('I',))

In [25]:
# Your explanation here

#tup_3 contains all elements of tup_1 [0:] and tup_2 [0:]
# defining tup_3 as ( , ) only the elements need to be inserted

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [28]:
tup_1

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [30]:
tup_1

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [29]:
tup_1 = ("I", "r", "o", "n", "h", "a", "c", "k")

In [31]:
tup_1

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [32]:
# Your explanation here

#for re-assigning tup_1 = (...) is fine

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [ ]:
#oops, already defined tup_1 - making it tup_a instead. tup2 shall be tup_b.

In [33]:
tup_1

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [41]:
tup_a = tup_1[0:4]
tup_b = tup_1[4:]

print(tup_a)
print(tup_b)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [42]:
# Your code here
tup_3 = (tup_a[0:]+tup_b[0:])
print(tup_3)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`

In [43]:
# Your code here
tup_a

('I', 'r', 'o', 'n')

In [44]:
tup_b

('h', 'a', 'c', 'k')

In [55]:
a = len(tup_a)
b = len(tup_b)

In [56]:
tup_3
c = int(len(tup_3))
print(c)

8

In [57]:
if int(a+b) == int(c):
    print("perfectly fine code")
else:
    print("wtf...?!")

perfectly fine code

#### What is the index number of `"h"` in `tup3`?

In [59]:
# Your code here
tup_3[4]

'h'

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [68]:
# Your code here
letters = ["a", "b", "c", "d", "e", "h"]

In [78]:
#dict for letters in tup_3 = dlt

dlt = {}


for l in letters:
    print("... checking letter:",l)
    if str(l) in tup_3:
        print("   ----- letter", l, "in tup_3 is True")
        if str(l) in dlt.keys():
            dlt[str(l)] += 1
        else:
            dlt[str(l)] = 1
    else:
        print("   -----    ----- letter", l, "in tup_3 is False")

... checking letter: a
   ----- letter a in tup_3 is True
... checking letter: b
   -----    ----- letter b in tup_3 is False
... checking letter: c
   ----- letter c in tup_3 is True
... checking letter: d
   -----    ----- letter d in tup_3 is False
... checking letter: e
   -----    ----- letter e in tup_3 is False
... checking letter: h
   ----- letter h in tup_3 is True

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [79]:
print(dlt)

{'a': 1, 'c': 1, 'h': 1}