## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [5]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
sample_list_1 = random.sample(range(100),k=80)
print(len(sample_list_1))

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set1 = set(sample_list_1)
print(set1)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 44, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
# Your code here
sample_list_2 = random.sample(range(100), k=80)
print(len(sample_list_2))

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set2 = set(sample_list_2)
print(set2)

{0, 1, 2, 3, 4, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 21, 23, 24, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 76, 77, 78, 79, 81, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [10]:
set3 = set1.difference(set2)

print(set3)

{5, 72, 41, 46, 80, 17, 50, 82, 83, 22, 55, 25, 26, 27, 29}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [11]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{97, 37, 42, 11, 43, 45, 76, 77, 16, 52, 84, 85, 24, 58, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [12]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 2, 3, 4, 6, 8, 9, 10, 12, 13, 14, 15, 18, 20, 21, 23, 28, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 44, 47, 48, 49, 51, 53, 54, 56, 57, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 78, 79, 81, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [13]:
# Your code here
def getlen(a_set=set):
    l = len(a_set)
    return l

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
80
15
15
65

In [14]:
lendic = {  }

lendic["set1"] = getlen(set1)
lendic["set2"] = getlen(set2)
lendic["set3"] = getlen(set3)
lendic["set4"] = getlen(set4)
lendic["set5"] = getlen(set5)

In [15]:
print(lendic)

{'set1': 80, 'set2': 80, 'set3': 15, 'set4': 15, 'set5': 65}

In [16]:
sortedlens = sorted(lendic.items(), key=lambda x: x[1], reverse=True)

for i in sortedlens:
    print(i[1],"items in",i[0])

80 items in set1
80 items in set2
65 items in set5
15 items in set3
15 items in set4

#### Create an empty set called `set6`.

In [17]:
# Your code here
set6= set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [18]:
type(set3)

set

In [20]:
type(set5)

set

In [19]:
type(set6)

set

In [24]:
# Your code here
set6.update(set3,set5)

In [25]:
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 44, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [26]:
# Your code here
type(set1)

set

In [33]:
d = set1.symmetric_difference(set6)

if d == set():
    print("sets are equal")
else:
    print("sets are unequal")

sets are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [85]:
# Your code here

def tesub (m=set(), s=set()):
    if s.issubset(m) == True:
        print("s is subset of m")
    elif s.issubset(m) == False:
         print("s is no subset of m")
    else:
        print("wt..")

In [86]:
type(tesub)

function

In [88]:
tesub(m=set1,s=set2)

s is no subset of m

In [89]:
tesub(m=set1,s=set3)

s is subset of m

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [90]:
# Your code here
n = set3.union(set4,set5)

In [91]:
m = set1.union(set2)

In [108]:
uniset = m.union(n)
print(" Union off all sets:\n",uniset)

 Union off all sets:
 {0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove an element from `set1`.

In [117]:
# Your code here
print(set1)
set1.pop()

{1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 44, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 78, 79, 80, 81, 82, 83, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 98, 99}

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [118]:
# Your code here
lremove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for r in lremove:
    if r in set1:
        set1.remove(r)

In [119]:
print(set1)

{2, 3, 4, 5, 6, 8, 10, 12, 13, 14, 15, 17, 18, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 40, 44, 46, 47, 48, 50, 53, 54, 55, 56, 57, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 78, 80, 82, 83, 86, 87, 88, 92, 93, 94, 95, 96, 98}